        /*Ruslan styles will be here*/
        
        @media screen and (max-width: 320px) {
            $general_font: 'Montserrat', sans-serif;
            .header {
                background-color: #27262a;
                display: flex;
                justify-content: space-between;
                line-height: 100px;
                .logo {
                    width: 41px;
                    height: 43px;
                    margin: auto 15px;
                    background: url(../img/header_logo_320.png) 100% 100% no-repeat;
                }
                .logo__text {
                    display: none;
                }
                .menu {
                    display: none;
                }
                .btn {
                    width: 55%;
                    text-align: center;
                    .btn__item {
                        border: 1px;
                        border-radius: 20px;
                        border-color: #8d81ac;
                        width: 115px;
                        height: 40px;
                        background-color: #8d81ac;
                        color: #fff;
                        font-family: $general_font;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
                .hamburger {
                    width: 20%;
                    text-align: center;
                }
            }
            .header_fork_app {
                height: 718px;
                background: url(../img/header_background_320.png) 100% 100% no-repeat;
                text-align: center;
                position: relative;
                .header_fork_app__name {
                    margin: 0px 0px 0px 0px;
                    color: #fff;
                    font-family: $general_font;
                    font-size: 48px;
                    font-weight: 700;
                    padding-top: 40px;
                    padding-bottom: 10px;
                }
                .header_fork_app__text {
                    color: #8d81ac;
                    font-family: $general_font;
                    font-size: 18px;
                    font-weight: 500;
                }
                .header_fork_app__textForMac {
                    color: #848e97;
                    font-family: $general_font;
                    font-size: 14px;
                    font-weight: 500;
                }
                .revolutionary_button {
                    text-align: center;
                    margin-bottom: 65px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 97%;
                    margin: 0 auto;
                    z-index: 2;
                    .revolutionary_button__item {
                        border: 1px solid #8d81ac;
                        border-radius: 20px;
                        width: 290px;
                        height: 40px;
                        background-color: #8d81ac;
                        color: #fff;
                        font-family: $general_font;
                        font-size: 15px;
                        font-weight: 600;
                    }
                    .revolutionary_button__trial_version {
                        color: #848e97;
                    }
                }
            }
            .revolutionary_editor__name {
                color: #635c73;
                padding-top: 40px;
                text-transform: uppercase;
                font-size: 26px;
                text-align: center;
                font-family: $general_font;
            }
            .revolutionary_editor__text {
                width: 265px;
                line-height: 130%;
                margin: 0px auto 30px auto;
                text-align: center;
                color: #5b5b5b;
                font-size: 14px;
                font-family: $general_font;
            }
            .revolutionary_editor__icons {
                display: flex;
                flex-direction: row;
                width: 265px;
                margin: 0px auto 60px auto;
                .icon_watch {
                    display: flex;
                    flex-direction: row;
                    .icon_watch__sign {
                        width: 80px;
                        line-height: 25px;
                        color: #333333;
                        font-family: $general_font;
                        font-weight: 700;
                        font-size: 12px;
                        text-align: center;
                        border: 1px solid #d5d5d5;
                        background-image: linear-gradient(#fafafa, #f1f1f1);
                        .sign__name {
                            margin: 0px auto;
                        }
                    }
                    .icon_watch__number {
                        width: 40px;
                        line-height: 25px;
                        color: #333333;
                        font-family: $general_font;
                        font-size: 12px;
                        font-weight: 700;
                        text-align: center;
                        border: 1px solid #d5d5d5;
                        background-color: #fff;
                    }
                }
                .icon_star {
                    display: flex;
                    flex-direction: row;
                    margin: 0 10px;
                    .icon_star__sign {
                        width: 65px;
                        line-height: 25px;
                        color: #333333;
                        font-family: $general_font;
                        font-weight: 700;
                        font-size: 12px;
                        text-align: center;
                        border: 1px solid #d5d5d5;
                        background-image: linear-gradient(#fafafa, #f1f1f1);
                        .sign__name {
                            margin: 0px auto;
                        }
                    }
                    .icon_star__number {
                        width: 45px;
                        line-height: 25px;
                        color: #333333;
                        font-family: $general_font;
                        font-size: 12px;
                        font-weight: 700;
                        text-align: center;
                        border: 1px solid #d5d5d5;
                        background-color: #fff;
                    }
                }
                .icon_fork {
                    display: flex;
                    flex-direction: row;
                    .icon_fork__sign {
                        width: 65px;
                        line-height: 25px;
                        color: #333333;
                        font-family: $general_font;
                        font-weight: 700;
                        font-size: 12px;
                        text-align: center;
                        border: 1px solid #d5d5d5;
                        background-image: linear-gradient(#fafafa, #f1f1f1);
                        .sign__name {
                            margin: 0px auto;
                        }
                    }
                    .icon_fork__number {
                        width: 45px;
                        line-height: 25px;
                        color: #333333;
                        font-family: $general_font;
                        font-size: 12px;
                        font-weight: 700;
                        text-align: center;
                        border: 1px solid #d5d5d5;
                        background-color: #fff;
                    }
                }
            }
            .talking_about_fork {
                background: url(../img/talking_about_fork_background_320.png) 100% 100% no-repeat;
                background-position-y: 8%;
                background-color: #4b3b4e;
                text-align: center;
                padding-bottom: 40px;
                border-bottom: 2px solid #645766;
                .talking_about_fork__name {
                    margin: 0px 0px 0px 0px;
                    color: #fff;
                    font-family: $general_font;
                    font-size: 36px;
                    font-weight: 600;
                    line-height: 130%;
                    padding-top: 30px;
                }
                .talking_about_fork__logo_company {
                    margin: 30px 0px;
                }
                .talking_about_fork__text {
                    width: 245px;
                    margin: 0px auto;
                    color: #fff;
                    font-size: 16px;
                    font-family: $general_font;
                    line-height: 120%;
                }
            }
            .fork_pricing {
                background-color: #4b3b4e;
                text-align: center;
                flex-direction: column;
                padding-bottom: 90px;
                .fork_pricing__name {
                    margin: 0px auto;
                    color: #fff;
                    font-family: $general_font;
                    font-size: 28px;
                    font-weight: 600;
                    text-align: center;
                    line-height: 130%;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
                .fork_pricing__plan {
                    width: 255px;
                    height: 455px;
                    margin: 20px auto;
                    .plan_item__name {
                        line-height: 100px;
                        margin: 0px;
                        color: #fff;
                        font-family: $general_font;
                        font-size: 24px;
                        text-align: center;
                        font-weight: 300;
                        background-color: rgba(243, 243, 243, 0.2);
                    }
                    .plan_item__price {
                        background-color: rgba(243, 243, 243, 0.1);
                        height: 355px;
                        position: relative;
                        .price__cost {
                            margin: 0px;
                            padding: 30px 0px 35px 0px;
                            color: #fff;
                            font-family: $general_font;
                            font-size: 60px;
                            text-align: center;
                            .price__sing_dol {
                                font-weight: 300;
                            }
                        }
                        .price__per_month {
                            margin: 0px;
                            color: #7c707e;
                            text-transform: uppercase;
                            font-family: $general_font;
                            font-size: 14px;
                            text-align: center;
                        }
                        .price__line {
                            background: #8d81ac;
                            width: 60px;
                            height: 4px;
                            margin: 30px auto;
                        }
                        .price__offer {
                            color: #fff;
                            font-family: $general_font;
                            font-size: 16px;
                            text-align: center;
                        }
                        .price__btn_purchase {
                            position: absolute;
                            color: #fff;
                            font-family: $general_font;
                            font-size: 15px;
                            text-align: center;
                            background: #776b79;
                            width: 155px;
                            height: 40px;
                            border: 1px solid #776b79;
                            border-radius: 20px;
                            left: 0;
                            right: 0;
                            margin-left: auto;
                            margin-right: auto;
                            bottom: 40px;
                        }
                    }
                }
                .fork_pricing__active {
                    width: 290px;
                    height: 555px;
                    .plan_item__name {
                        background-color: #3d2e3d;
                    }
                    .plan_item__price {
                        height: 455px;
                        background-color: #403344;
                    }
                    .price__btn_purchase {
                        background-color: #5d5160;
                    }
                    .price__line {
                        margin: 50px auto;
                    }
                }
            }
        }