/*Global Styles*/
.wrap-box {
  margin: 0 auto;
  max-width: 1200px;
}
.common-padding {
  padding: 0 10px;
}
/*Global Styles*/

/*Reviews-section Styles*/
.reviews-section {
  .wrap-box {
    max-width: 950px;
    padding: 65px 0;

    .social-nav {
      margin: 65px auto 0;
      padding: 65px 0 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 800px;
      border-top: 1px solid #f4f4f4;

      .social-nav__item {
        width: 240px;
        display: flex;
        flex-direction: column;

        .social-nav__item__link {
          height: 50px;
          background: red;
          font-size: 21px;
          line-height: 50px;
          text-align: center;
          text-decoration: none;
          border-radius: 4px;

          &.social-nav__item__link__github {
            background-color: #f3f3f3;
            color: #000;
          }
          &.social-nav__item__link__twitter {
            background-color: #26a6d1;
            color: #fff;
          }
          &.social-nav__item__link__facebook {
            background-color: #3b5998;
            color: #fff;
          }
        }

        .social-nav__item_followers {
          text-align: center;
          margin-top: 15px;
        }
      }
    }

    .slider {
      max-width: 800px;
      margin: 0px auto;

      .slider-item {
        align-items: center;
        display: flex;
        flex-direction: column;

        .slider-item__title {
          display: flex;
          align-items: center;

          .slider-item__name {
            font-size: 24px;
            font-weight: bold;
            color: #635c73;
            margin-left: 25px;

            .slider-item__name__tag {
              font-size: 16px;
              color: #8d81ac;
              font-weight: normal;
            }
          }
        }

        .slider-item__review {
          text-align: center;
          font-size: 16px;
          color: #333;
          line-height: 24px;

          .slider-item__review_tag {
            color: #8d81ac;
          }
        }

        .slider-item__date {
          font-size: 16px;
          margin-bottom: 0;
        }
      }

      .slick-prev:before {
        background: url("/dist/img/prev_icon.png") no-repeat center center;
        color: transparent;
      }
      .slick-next:before {
        background: url("/dist/img/next_icon.png") no-repeat center center;
        color: transparent;
      }

      .slick-prev {
        left: -70px;
      }

      .slick-next {
        right: -70px;
      }
    }
  }
}
/*Reviews-section Styles*/


/*Callback-section Styles*/
.callback-section {
  background-color: #f4f4f4;

  .callback-box {
    .callback-box__title {
      font-weight: bold;
      margin: 0;
      padding: 0;
      color: #635c73;
    }
    .callback-box__form {
      .callback-box__form__field {
        margin: 0;
        padding: 0;
        border: 0;
        height: 42px;
        line-height: 42px;
        color: #c8cbcf;
        background: #fff;
        border-radius: 42px;
        font-size: 14px;
        text-indent: 25px;
      }

      .callback-box__form__button {
        margin: 0;
        padding: 0;
        border: 0;
        height: 42px;
        line-height: 42px;
        color: #fff;
        background: #8d81ac;
        border-radius: 42px;
        font-size: 13px;
        text-transform: uppercase;
        max-width: 140px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
/*Callback-section Styles*/

/*Footer Styles*/
footer {
  .footer-box-about {
    .footer-box-about__title {
      margin: 0 0 25px 0;
      color: #333;
      text-transform: uppercase;
      font-size: 24px;

      .footer-box-about__io {
        color: #8d81ac;
      }
    }
    .footer-box-about__desc {
      margin: 0;
      line-height: 20px;
    }
  }

  .footer-box-nav {
    .footer-box-nav__title {
      color: #323232;
      font-size: 16px;
      margin: 0 0 25px 0;
    }

    .footer-box-nav__list {
      margin: 0px;
      padding: 0px;
      list-style: none;

      .footer-box-nav__list__item {
        margin-bottom: 12px;

        .footer-box-nav__list__li__link {
          text-decoration: none;
          color: #8d81ac;
          &:hover {
            color: #564978;
          }
        }
      }
    }
  }

  .footer-box-info {
    .footer-box-info__title {
      color: #323232;
      font-size: 16px;
      margin: 0 0 25px 0;
    }
    .footer-box-info__desc {
      margin: 0;
      line-height: 20px;
    }
  }

  .footer-box-contact {
    .footer-box-contact__phone {
      margin-bottom: 35px;

      .footer-box-contact__phone__numbers {
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 10px 0;
        color: #3f3f3f;
      }
      .footer-box-contact__phone__time {
        font-size: 12px;
        text-transform: uppercase;
        color: #848e97;
        margin: 0;
      }
    }
    .footer-box-contact__address {
      .footer-box-contact__address__city {
        font-size: 16px;
        color: #323232;
        margin: 0 0 10px 0;
      }
      .footer-box-contact__address__location {
        margin: 0;
        line-height: 20px;
      }
    }
  }
}
/*Footer Styles*/

@media (max-width: 400px) {
  /*Global Styles*/
  .phone-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
  /*Global Styles*/

  /*Callback-section Styles*/
  .callback-section {
    .wrap-box {
      padding: 35px 0;
    }
    .callback-box {
      .callback-box__title {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 25px;
      }
      .callback-box__form {
        text-align: center;
        .callback-box__form__field {
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }
  /*Callback-section Styles*/

  /*Footer Styles*/
  footer {
    .wrap-box {
      padding: 0 0 40px;
    }

    .common-footer-box {
      padding-top: 40px;
    }
  }
  /*Footer Styles*/
}

@media (min-width: 401px) and (max-width: 480px) {
  /*Global Styles*/
  .phone-view {
    display: block;
  }
  .desktop-view {
    display: none;
  }
  /*Global Styles*/

  /*Callback-section Styles*/
  .callback-section {
    .wrap-box {
      padding: 50px 0;
    }
    .callback-box {
      .callback-box__title {
        text-align: center;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 40px;

        br {
          display: none;
        }
      }
      .callback-box__form {
        text-align: center;
        .callback-box__form__field {
          width: 290px;
          margin: 0 auto 15px;
          display: block;
        }
      }
    }
  }
  /*Callback-section Styles*/

  /*Footer Styles*/
  footer {
    .wrap-box {
      padding: 0px 0px 40px;
    }

    .common-footer-box {
      padding-top: 40px;
    }

    .footer-box-about {
      .footer-box-about__title {
        background: url("/dist/img/footer_logo.png") no-repeat left center;
        padding: 10px 0 10px 60px;
      }
    }
  }
  /*Footer Styles*/
}

@media (min-width: 481px) and (max-width: 992px) {
  /*Global Styles*/
  .phone-view {
    display: none;
  }
  .desktop-view {
    display: block;
  }
  /*Global Styles*/

  /*Callback-section Styles*/
  .callback-section {
    .wrap-box {
      padding: 25px 0;
    }
    .callback-box {
      .callback-box__title {
        text-align: center;
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 25px;
      }
      .callback-box__form {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .callback-box__form__field {
          width: 45%;
          margin: 0 auto 25px;
          display: block;
        }
      }
    }
  }
  /*Callback-section Styles*/

  /*Footer Styles*/
  footer {
    .wrap-box {
      padding: 20px 0;
      display: flex;
      flex-wrap: wrap;
    }

    .common-footer-box {
      width: 50%;
      box-sizing: border-box;
      padding: 20px 10px;
    }

    .footer-box-about {
      .footer-box-about__title {
        background: url("/dist/img/footer_logo.png") no-repeat left center;
        padding: 10px 0 10px 60px;
      }
    }
  }
  /*Footer Styles*/
}

@media (min-width: 993px) {
  /*Global Styles*/
  .phone-view {
    display: none;
  }
  .desktop-view {
    display: block;
  }
  /*Global Styles*/

  /*Callback-section Styles*/
  .callback-section {
    .wrap-box {
      padding: 45px 0;
    }
    .callback-box {

      display: flex;
      justify-content: space-between;
      align-items: center;

      .callback-box__title {
        font-size: 30px;
      }
      .callback-box__form {
        display: flex;
        width: 75%;
        justify-content: flex-end;

        .callback-box__form__field {
          max-width: 335px;
          width: 100%;
          box-sizing: border-box;
          margin-right: 20px;
        }
      }
    }
  }
  /*Callback-section Styles*/

  /*Footer Styles*/
  footer {
    .wrap-box {
      padding: 60px 0;
      display: flex;
    }

    .footer-box-about {
      .footer-box-about__title {
        background: url("/dist/img/footer_logo.png") no-repeat left center;
        padding: 10px 0 10px 60px;
      }
    }

    .footer-box-about {
      width: 35%;
      padding-right: 5%;
      box-sizing: border-box;
    }

    .footer-box-nav {
      width: 15%;
    }

    .footer-box-contact {
      width: 25%;
    }

    .footer-box-info {
      width: 25%;
    }
  }
  /*Footer Styles*/
}
