html, body, div, span, applet, object, iframe, img, strong, form, label, tfoot, thead, b {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline;}
input[type=image] {border:0px;}
:focus {outline: 0;}
html {height:100%; max-height:100%;}
body {height:100%; max-height:100%; font-family: 'Montserrat', verdana, arial, tahoma, Georgia, "Trebuchet MS", "Times New Roman", sans-serif; font-size: 14px; color: #848e97; line-height: 1;}